html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    font-size: 35pt;
    color:black
}
p {
    font-size: 20pt;
    float : left;
    padding: 10px;
    color:black
}

img {
    width: 400px;
    height: 300px;
    float: right;
}